table {
  border-collapse: collapse;
  border: 50px solid #F3F3F3;
  margin: auto;
  margin-top: -40px;
  margin-bottom: -20px;
}

.status-info{
  margin-top: 0px;
  font-family: "Montserrat";
  font-weight: 500;
  letter-spacing: 2pt;
  color: rgb(189, 90, 235);
}

table td {
  width: 85px;
  height: 85px;
  box-shadow: 3px 5px 8px #888888;
}
table tr:first-child td {
  border-top: 0;
  border-bottom: 15px solid #9ABBFD;
}
table tr td:first-child {
  border-left: 0;
  border-right: 15px solid rgb(85, 135, 234);
}

table tr:last-child td {
  border-bottom: 0;
  border-top: 15px solid #9ABBFD;

}
table tr td:last-child {
  border-right: 0;
  border-left: 15px solid #5587EA;
}

button {
    height: 100%;
    width: 100%;
    background-color: transparent;
    border-width: 0;
    outline: none;
    width: ;
}

body {
    background-color: #F3F3F3;
    text-align: center;
    justify-content: center;
    margin: 0px;
}

.title {
    background: #5587EA;
    width: -webkit-fill-available;
    /* padding: 10px; */
    /* border-radius: 0px 0px 75px 75px; */
    position: relative;
    overflow: hidden;
    font-family: 'Montserrat', sans-serif;
    font-size: 20px;
    color: white;
    text-shadow: #888888;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.title>h2{
  margin-top: 50px;
}

svg {
  transform: rotate(180deg);
  margin-top: -5px;
  /* z-index: 950; */
}

.field{
  --uiFieldPlaceholderColor: var(--fieldPlaceholderColor, #767676);
}

.field__input{ 
  background-color: transparent;
  border-radius: 0;
  border: none;
  margin-bottom: 50px;
  -webkit-appearance: none;
  -moz-appearance: none;

  font-family: "Nunito Sans", sans-serif;
  font-weight: 500;
  font-size: 1.5em;
  text-align: center;
}

.field__input:focus::-webkit-input-placeholder{
  color: var(--uiFieldPlaceholderColor);
}

.field__input:focus::-moz-placeholder{
  color: var(--uiFieldPlaceholderColor);
  opacity: 1;
}

/*
=====
LEVEL 2. CORE STYLES
=====
*/

.a-field{
  display: inline-block;
}

.a-field__input{ 
  display: block;
  box-sizing: border-box;
  width: 100%;
}

.a-field__input:focus{
  outline: none;
}

/*
=====
LEVEL 3. PRESENTATION STYLES
=====
*/

/* a-field */

.a-field{
  --uiFieldHeight: var(--fieldHeight, 40px);  
  --uiFieldBorderWidth: var(--fieldBorderWidth, 2px);
  --uiFieldBorderColor: var(--fieldBorderColor);

  --uiFieldFontSize: var(--fieldFontSize, 1em);
  --uiFieldHintFontSize: var(--fieldHintFontSize, 1em);

  --uiFieldPaddingRight: var(--fieldPaddingRight, 15px);
  --uiFieldPaddingBottom: var(--fieldPaddingBottom, 15px);
  --uiFieldPaddingLeft: var(--fieldPaddingLeft, 15px);   

  position: relative;
  box-sizing: border-box;
  font-size: var(--uiFieldFontSize);
  padding-top: 1em;  
}

.a-field__input{
  height: var(--uiFieldHeight);
  padding: 0 var(--uiFieldPaddingRight) 0 var(--uiFieldPaddingLeft);
  border-bottom: var(--uiFieldBorderWidth) solid var(--uiFieldBorderColor);  
}

.field{
  --fieldBorderColor: #D1C4E9;
  --fieldBorderColorActive: #673AB7;
}


body{
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Open Sans, Ubuntu, Fira Sans, Helvetica Neue, sans-serif;
}

.button-container>button{
  background-color: white;
  /* min-width: fit-content; */
  border-radius: 36px;
  width: 155px;
  height: 52px;
  font-size: 16px;
  display: block;
  text-align: center;
  margin: auto;
  padding: 10px;
  margin-top: 10px;
  box-shadow: 0px 9px 20px #302e2e3a;
  font-family: 'Montserrat', sans-serif;
  font-weight: 500;
}

.create-button{
  color: rgb(73, 118, 216);
}

.join-button{
  color: rgb(190, 118, 238);
}

.score-board{
  background-color: rgb(255, 255, 255);
  border-radius: 36px;
  height: 30px;
  margin: auto;
  width: 150px;
  margin-bottom: 10px;
  box-shadow: 0px 9px 20px #302e2e3a;
}

.score-board p{
  font-family: 'Nunito Sans', sans-serif;
  padding-top: 5px;
}
