body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
	margin-top: 50%;
	margin: auto;
	border-collapse: collapse;
	border-style: hidden;
}

table td {
	border: 7px solid black;
}

.cell {
  background: #fff;
  border: none;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 74px;
  text-align: center;
  width: 74px;
  border-color: #fff;
}

.cell:focus {
	outline: none;
}